html, body
{
    height: 100%;
}

body{
/*	background-color: #FE5F55;*/
/*  background-color: #fff4ef; */ 

  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFCC00;

}

article {
/*  border: 1px solid #888;*/
  margin: 25px;
  background-color: #fff;
}

#articles {
  background-color: salmon;
  width: 60%;
  float: left;
}

.note-container {
  float: left;
  width: 40%;
  height: 700px;
  background-color: lime;
  position: relative;

  padding: 0;
  margin: 0;
/*  height: 100%;*/
}


#notes {
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    /* position: absolute; */
    top: 0;
    bottom: 0;
    /* left: 0; */
    right: 15%;
    margin: auto;


}

.active {
  background-color: #FFCC00;
  margin: 25px 0px 25px 25px;
  padding-right: 25px;
  border: none;
}